# Ignore Requirement Files (Original)
docs/requirements/
docs/requirements/*

# Ignore Design Files (Original)
docs/designs/
docs/designs/*

# =========================
# ❗ Ignore ALL Current Reports
# =========================
reports/*
