# Ignore Requirement Files (Original)
docs/requirements/
docs/requirements/*

# Ignore Design Files (Original)
docs/design/
docs/design/*

# =========================
# ❗ Ignore ALL Current Reports
# =========================
reports/*
